.cart {
    background-color: seashell;
    border-radius: 5px;
    margin-top: 1rem;
    height: 45vh;
}
.cart-title {
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
    padding: .5rem 0;
    
}

.cart-body {
    padding: 2rem;
}
.current-price {
    font-size: 2.5rem;
    font-weight: 700;
}

.original-price {
    font-weight: 600;
}